*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navLink
{
  /* background-color: red; */
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.defaultStyle
{
  margin: 0 50px;
  font-size: 27px;
  color: rgb(71, 68, 68);
  text-decoration: none;
}
.activeStyle
{
  font-size: 30px;
  color: blue;
}
.LeemulusStyle
{
  font-size: 40px;
  color: rgb(94, 94, 226);
}